body {
    background-color: azure;
    margin-top: 50px;
}
#parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 50px;
}
#myCanvas1 {
    border: none;
    background-color: aqua;
}
#myCanvas1:hover {
    background-color: aquamarine;
}
#myCanvas {
    border: none;
    background-color: lightblue;
}
#myCanvas:hover {
    background-color: aqua;
}

